.EventList {
  list-style-type: none;
  padding: 0;
}

.EventItem {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform .3s;
}
.EventItem:hover {
  background-color: rgba(255, 255, 255, .3);
}
.EventItem.expanded {
  border-left: 3px solid darkorange;
  transform: translateX(1rem);
}

.EventItem > p {
  margin: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
