.Search > form .matchType {
  padding: .5em 1em;
  line-height: 3;
  cursor: pointer;
}
.Search > form .matchType.isSelected {
  background-color: lightsalmon;
}

.Search > form .matchType span {
  color: rgba(0, 0, 0, .4);
}

.Search > form input[type="search"] {
  -webkit-appearance: none;
  font-size: 2em;
  padding: .5em 1em;
  width: 100%;
}

.Search .results {
  margin-top: 1em;
}

.Search .results .authors {
  list-style-type: none;
  padding: 0;
}
